{
    "trailingComma": "all",
    "singleQuote": false,
    "tabWidth": 4,
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "// --- 1. VALUE IMPORTS (KODE LOGIKA) ---",
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "// ALIAS LOCAL MODULES",
        "^@/(.*)service",
        "^@/(.*)dto",
        "^@/(.*)constant",
        "^@/(.*)enum",
        "^@/(.*)util",
        "^@/(.*)function",
        "^@/(.*)helper",
        "^@/",
        "",
        "// RELATIVE LOCAL MODULES",
        "^[./](.*)service",
        "^[./](.*)dto",
        "^[./](.*)constant",
        "^[./](.*)enum",
        "^[./](.*)util",
        "^[./](.*)function",
        "^[./](.*)helper",
        "^[./]",
        "",
        "// --- 2. TYPE IMPORTS (INTERFACE / TYPES) ---",
        "<TYPES><BUILTIN_MODULES>",
        "",
        "<TYPES>",
        "",
        "// ALIAS TYPE MODULES",
        "<TYPES>^@/(.*)service",
        "<TYPES>^@/(.*)dto",
        "<TYPES>^@/(.*)constant",
        "<TYPES>^@/(.*)enum",
        "<TYPES>^@/(.*)util",
        "<TYPES>^@/(.*)function",
        "<TYPES>^@/(.*)helper",
        "<TYPES>^@/",
        "",
        "// RELATIVE TYPE MODULES",
        "<TYPES>^[./](.*)service",
        "<TYPES>^[./](.*)dto",
        "<TYPES>^[./](.*)constant",
        "<TYPES>^[./](.*)enum",
        "<TYPES>^[./](.*)util",
        "<TYPES>^[./](.*)function",
        "<TYPES>^[./](.*)helper",
        "<TYPES>^[./]"
    ],
    "importOrderParserPlugins": [
        "typescript",
        "decorators-legacy",
        "classProperties"
    ]
}